<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    	Hurry NOW!
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item *ngFor = "let item of items" >
			<ion-thumbnail *ngIf = "item.thumbnail"  item-left>
				<img src = "{{item.thumbnail}}">
			</ion-thumbnail>
			<button ion-button (click)="generarDescuento();">
				Comprar
			</button>
			<h2>{{item.description}}</h2>
			<p>
				<ion-icon name = "thumbs-up">
					{{item.description}}
				</ion-icon>
				<ion-icon name = "chatboxes">
					{{item.description}}
				</ion-icon>

			</p>
		</ion-item>
	</ion-list>

</ion-content>
